.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* animación para el mensaje de notificación */
@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(-60px); }
  to   { opacity: 1; transform: translateX(-50%) translateY(-50%); }
}

.modal-overlay .modal {
  background: white;
  padding: 30px;
  margin: 0px 10px;
  border-radius: 10px;
  width: 350px;
  position: relative;
  color: #333;
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.modal .close-button:hover {
  background-color: rgba(233, 164, 164, 0.5);
  border-radius: 20px;
}

.modal-overlay .modal h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.modal-overlay .modal form {
  box-sizing: border-box;
  width: 100%;  
}

.modal-overlay .modal form .profile-photo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  justify-self: center;
  margin-bottom: 15px;
  overflow: hidden;
}

.profile-photo-container .profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.modal-overlay .modal form .input-container {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}

.modal form .input-container input {
  flex: 1;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #5f5f5f;
}

.modal form .input-container input:focus{
  border: 2px solid #4CAF50;
  color: #000000;
  outline: none;
}

.modal form .input-container .reset-icon {
  margin-left: 10px;
  align-content: center;
  cursor: pointer;
}

.modal form .input-container .reset-icon svg {
  color: #666;
  transition: color 0.2s ease, transform 0.2s ease;
}

.modal form .input-container .reset-icon svg:hover {
  color: #4CAF50;
  transform: scale(1.1);
}

.modal-overlay .modal form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay .modal form button:hover {
  background-color: #2c8d31;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
