.forum {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.forum.loading {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50vh;
  text-align: center;
}

.forum > .notification-message.error {
  z-index: 10;
}

.forum .header-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}

/* -------- */

.forum .header-container .forum-page-action-buttons {
  flex: 1;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.forum-page-action-buttons .new-post-button,
.forum-page-action-buttons .search-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.forum-page-action-buttons .new-post-button.banned {
  opacity: 0.6;
}

.forum-page-action-buttons .search-button svg {
  font-size: 12px;
  vertical-align: middle;
}

.forum-page-action-buttons .new-post-button:not(.banned):hover,
.forum-page-action-buttons .search-button:hover {
  background-color: #388E3C;
}

/* -------- */

.forum .header-container .order-select, 
.forum .header-container .category-select {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.forum .header-container .order-select label,
.forum .header-container .category-select label {
  margin-right: 10px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-right: 10px;
}

.forum .header-container .category-select .custom-select {
  position: relative;
}

.forum .header-container .category-select
 .custom-select .dropdown .dropdown-btn {
  width: auto;
  padding: 5px 10px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.forum .header-container .category-select 
  .custom-select .dropdown .dropdown-content {
  position: absolute;
  top: 100%;
  width: auto;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 200px;
  display: flex;
  flex-direction: column;  
}

.forum .header-container .category-select 
  .custom-select .dropdown .dropdown-content .checkbox-options {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 5px;
  text-align: left;
}

.forum .header-container .category-select .custom-select
 .dropdown .dropdown-content .checkbox-options .checkbox-label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
}

.forum .header-container .category-select .custom-select
 .dropdown .dropdown-content .checkbox-options .checkbox-label input {
  margin-right: 10px;
}

.forum .header-container .order-select select {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.forum .header-container .order-select select:hover,
.forum .header-container .order-select select:focus,
.forum .header-container .category-select .custom-select button:hover,
.forum .header-container .category-select .custom-select button:focus {
  border-color: #4CAF50;
  outline: none;
}

.forum .header-container .category-select .custom-select 
  .dropdown .dropdown-content .ok-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  font-weight: 600;
  cursor: pointer;
}

.forum .header-container .category-select .custom-select .ok-btn:hover {
  background-color: #45a049;
}

.forum .posts {
  margin-top: 20px;
}

.forum .posts .post {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.forum .posts .post:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.forum .posts .post.banned {
  opacity: 0.6;
}

.forum .posts .post .post-header {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.post-header .admin-actions-container {
  display: flex;
  margin-right: 10px;
  align-items: center;  
}

.post-header .admin-actions-container .admin-actions-bg {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80%;
  background: rgba(30, 30, 30, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}

.post-header .admin-actions-container .admin-actions-bg .icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.post-header .admin-actions-container .admin-actions-bg .icon-button.ban-btn {
  color: #ff0000;
}

.post-header .admin-actions-container .admin-actions-bg .icon-button.ban-btn:hover {
  color: #c40202;
}

.post-header .admin-actions-container .admin-actions-bg .icon-button.delete-btn {
  color: #f46c36;
}

.post-header .admin-actions-container .admin-actions-bg .icon-button.delete-btn:hover {
  color: #b74d1c;
}

.post-header .post-title {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
}

.post-header .post-title svg {
  flex-shrink: 0;
  margin-top: 5px;
}

.post-header .post-title .text-container {
  flex-grow: 1;
  margin-left: 10px;
}

.post-header .post-title .text-container h3 {
  display: inline;
  margin: 0;
  word-wrap: break-word;
  margin-right: 10px;
}

.post-header .post-title .text-container .category {
  display: inline-block;
  font-size: 14px;
  color: #888;
}

.post-header .dates {
  margin-left: auto;
  text-align: right;
}

.post-header .dates,
.post-footer .created-info {
  font-size: 14px;
  color: #383838;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post-footer .created-info {
    margin: 14px 0;
}

.post-header .created-container,
.post-header .last-updated-container {
  display: flex;
  align-items: center;
}

.posts .forum-update-banner {
  background-color: #ebc03341;
  color: #4d4d4d;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.forum-update-banner:hover {
  background-color: #ebc0335e;
}

.posts .post .post-header .dates .created-container .date-label,
.posts .post .post-header .dates .last-updated-container .date-label,
.posts .post .post-footer .created-info .created-by-label {
  font-weight: normal;
}

.post-footer .created-info a.created-by {
  all: unset; /* reinicia estilos heredados */
  cursor: pointer;
}

.post-footer .created-info a.created-by:hover {
 color: #236425;
  text-decoration: underline;
}

.posts .post .post-header .dates .created-container .date,
.posts .post .post-header .dates .last-updated-container .date,
.posts .post .post-footer .created-info .created-by {
  font-weight: 600;
  color: #2a852d;
  margin-left: 5px;
}

.post-header .separator {
  margin-left: 15px;
  margin-right: 15px;
}

.forum .posts .post .post-footer {
  display: flex;
  align-items: center;
}

.forum .posts .post .post-footer .spacer {
  flex-grow: 1;
}

.forum .posts .post .post-footer .replies {
  display: flex;
  align-items: center;
}

.forum .posts .post .post-footer .replies .icon {
  margin-right: 8px;
  color: #4CAF50;
  font-size: 22px;
}

.forum .posts .load-more {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-posts-message,
.forum .posts .no-more-posts {
  text-align: center;
  color: #888;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forum .posts .load-more .load-more-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forum .posts .load-more .load-more-btn:hover {
  background-color: #45a049;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1100px) {
  .forum {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .forum .posts .post {
    margin-left: 0;
    margin-right: 0;
  }

  .forum .header-container {
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .forum .header-container .forum-page-action-buttons {
    position: fixed;
    bottom: 50px;
    width: 100%;
    right: 0px;
    z-index: 1000;    
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    pointer-events: none;
  }

  .forum-page-action-buttons .new-post-button,
  .forum-page-action-buttons .search-button {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0;
    font-size: 28px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: auto;
  }
}

@media (max-width: 632px) {
  .forum .posts .post .post-header .dates .separator {
    display: none;
  }
  
  .forum .posts .post .post-header .dates {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    align-items: flex-end;
    text-align: right;
  }

  .forum .posts .post .post-header .created-container,
  .forum .posts .post .post-header .last-updated-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
  }
}

@media (max-width: 380px) {
  .forum .header-container .forum-page-action-buttons {
    padding: 0px 10px;
  }

  .forum .posts .post {
    padding: 15px 20px;
  }

  .forum .posts .post .post-header .dates {
    margin-top: 5px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: right;
    text-align: right;
    gap: 2px;
  }

  .forum .posts .post .post-header .created-container,
  .forum .posts .post .post-header .last-updated-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-end;
    gap: 0px;
  }

  .forum .posts .post .post-footer {
    margin-top: 40px;
  }

  .forum .posts .post .post-footer .created-info {
    margin-top: 0;
  }

}

@media (max-width: 345px) {
  .forum .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .forum .header-container .category-select,
  .forum .header-container .order-select {
    flex-direction: column;
    align-self: flex-end;
  }

  .forum .header-container .category-select label,
  .forum .header-container .order-select label {
    margin-bottom: 5px;
    align-self: flex-end;
  }

  .forum .header-container .custom-select,
  .forum .header-container .order-select select {
    width: 100%;
  }
}
