.home-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* oscuro transparente */
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
}

/* Contenedor de cabecera */
.home-main-container .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 30px;
}

/* ---- */

/* Contenedor de espacio principal */
.home-main-container .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateY(-30px);
}

.main-container #logo {
    height: 130px;
}

.main-container .main-content {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 20px 40px 0px 40px;
    box-sizing: border-box;
}

.main-container .main-content h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    margin-bottom: 40px;
}

.main-container .main-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.main-container .main-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #b46900; /* naranja oscuro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-container .main-content button:hover {
    background-color: #2a6f88; /* azul */
}

@media (max-width: 940px) {
    .home-main-container .main-container {
        padding-top: 4rem;
    }
}

@media (max-width: 616px) {
    .main-container .main-content {
        padding: 0 20px;
    }

    .main-container .main-content h1 {
        font-size: 2.2rem;
    }

    .main-container .main-content p {
        font-size: 1rem;
    }

    .main-container #logo {
        height: 100px;
    }
}

@media (max-width: 500px) {
    .main-container .main-content h1 {
        font-size: 1.8rem;
    }

    .main-container .main-content p {
        font-size: 0.95rem;
    }

    .main-container #logo {
        height: 80px;
    }
}

@media (max-width: 455px) {
    .home-main-container .main-container {
        padding-top: 0;
    }
}

@media (max-width: 376px) {
    .main-container .main-content h1 {
        font-size: 1.4rem;
    }

    .main-container .main-content p {
        font-size: 0.85rem;
    }

    .main-container #logo {
        height: 60px;
    }
}

@media (max-width: 340px) {
    .home-main-container .head-container {
        padding-left: 0;
        padding-right: 0;
    }

    .head-container .links-button-container {
        padding-left: 20px;
    }
    
    .head-container .login-container {
        padding-right: 20px;
    }
}
