.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* toda la altura de la ventana */
  width: 100%; /* todo el ancho de la ventana */
}

/* body {
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
} */

.content.home {
  height: 100vh; /* toda la altura de la ventana */
  width: 100%; /* todo el ancho de la ventana */
}

.content.other {
  flex-grow: 1; /* ocupa espacio disponible entre cabecera y pie */
  overflow-y: auto; /* permite scroll del contenido */
  width: 100%; /* todo el ancho de la ventana */
  background-color: #f0f0f0; /* blanco un poco oscuro */
}

.footer {
  background-color: #333;
  color: white;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  text-align: center;
  font-size: 0.6rem;
}
