.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscuro transparente */
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar .nav-links-left,
.navbar .nav-links-right {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 30px;
}

.navbar .nav-links-left {
    left: 30px;
}

.navbar .nav-links-right {
    right: 30px;
}

#logo {
    height: 80px;
}

#home-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#home-button:hover {
    color: #f7a200;
}

#login-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background-color: #2a6f88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

#login-button:hover {
    color: #f7a200;
    background-color: #1e4f65;
}
