.tools-container {
  height: 100%;
  font-family: 'Arial', sans-serif;
  display: flex;
  background-color: #f0f0f0;
  justify-content: center; /* Centra horizontalmente los elementos */
  gap: 30px; /* espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  flex-wrap: wrap; /* elemento salta a la siguiente línea si no cabe */
}

.tool {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 180px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tool h3 {
  margin-bottom: 10px;
}

.tool a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.tool a:hover {
  background-color: #45a049;
}