.login-button-container {
  position: relative;
  display: inline-block;
}

.login-button-container .login-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  background-color: #cfcfcf;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-button img, .login-button .guest-avatar,
.login-button img, .login-button .avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.login-button-container .tooltip {
  position: absolute;
  top: 40px;
  left: 45%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.login-button-container .menu {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    padding: 10px 15px;
    width: fit-content;
    padding: 6px 12px;
    min-width: max-content;
    z-index: 999;
}

.login-button-container .menu .login-menu-button {
    color: #ffffff;
    text-decoration: none;
    margin: 4px 0;
    font-weight: 500;
    font-size: 16px;
    opacity: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    display: block;
    text-align: center;
    width: 100%;
    transform: translateY(10px);
    animation: fadeInUp 0.4s forwards;
}

.login-button-container .menu .login-menu-button::after {
    content: attr(data-text);
    font-weight: 700;
    visibility: hidden;
    height: 0;
    display: block;
    overflow: hidden;
}

.login-button-container .menu .login-menu-button:hover {
    color: #f7a200;
    font-weight: 600;
}

.login-button-container .menu .login-menu-button:nth-child(1) {
    animation-delay: 0s;
}

.login-button-container .menu .login-menu-button:nth-child(2) {
    animation-delay: 0.2s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1047px) {
    .login-button-container .menu {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
