
.links-button-container {
    position: relative;
    cursor: pointer;
    color: white;
}

.links-button-container .menu-button {
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

.links-button-container .menu-button .menu-icon {
    font-size: 30px;
    color: #c9c9c9;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.9))
            drop-shadow(0 0 1px rgba(0, 0, 0, 0.9))
            drop-shadow(0 0 1px rgba(0, 0, 0, 0.9));
    transition: transform 0.3s;
}

/* efecto para ordenador */
@media (hover: hover) and (pointer: fine) {
    .links-button-container .menu-button .menu-icon:hover {
        color: #ce8600;
        transform: scale(1.1);
        cursor: pointer;
    }
}

/* efecto para móviles */
@media (hover: none) and (pointer: coarse) {
    .links-button-container .menu-button .menu-icon:active {
        color: #ce8600;
        transform: scale(1.1);
        transition: transform 0.2s, color 0.2s;
    }
}

.links-button-container .tooltip {
    position: absolute;
    top: -6px;
    left: 43px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 14px;
    padding-left: 50px;
    border-radius: 12px;
    font-size: 12px;
    white-space: nowrap;
    z-index: -1000;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s ease;
}

/* Menú desplegable que aparece al pulsar el icono */
.links-button-container .menu {
    position: absolute;
    top: -5px;
    left: 45px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    padding: 10px 15px;
    width: fit-content;
    min-width: max-content;
    z-index: 999;
}

.links-button-container .menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 8px 0;
    font-weight: 500;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.4s forwards;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
}

/* necesario para que el hover no rompa el ancho */
.links-button-container .menu a::after {
    content: attr(data-text);
    font-weight: 700;
    visibility: hidden;
    height: 0;
    display: block;
    overflow: hidden;
}

.links-button-container .menu a:hover {
    color: #f7a200;
    font-weight: 600;
}

/* Animaciones para el menú */
.links-button-container .menu a:nth-child(1) {
    animation-delay: 0s;
}

.links-button-container .menu a:nth-child(2) {
    animation-delay: 0.1s;
}

.links-button-container .menu a:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1047px) {
    .links-button-container .menu {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

@media (max-width: 455px) {
    .links-button-container .menu {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        padding: 15px 20px;
    }

    .links-button-container .menu a {
        font-size: 1rem;
    }
}

@media (max-width: 376px) {
    .links-button-container .menu {
        padding: 15px 16px;
    }

    .links-button-container .menu a {
        font-size: 0.9rem;
        line-height: 1.3;
        margin: 10px 0;
    }
}

@media (max-width: 340px) {
    .links-button-container.home .menu {
        position: absolute;
        padding: 10px 10px;
        left: 15px;
    }
}
