.eco-calc-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columnas */
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.eco-column {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.eco-column h3,
.eco-column p,
.eco-column ul {
    align-self: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group select {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-group select:hover,
.form-group select:focus {
    border-color: #4CAF50;
    outline: none;
}

.eco-column button {
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.eco-column button:hover {
    background-color: #1b5e20;
}

.eco-column .error {
    color: red;
    margin-top: 0.5rem;
    align-self: center;
}

.eco-column .total-notice {
    color: rgb(48, 48, 48);
    text-align: center;
}

.eco-column .result {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #2e7d32;
    align-self: center;
}

.eco-column .result.info {
    margin-top: 0rem;
    font-weight: bold;
    color: #112e12;
    align-self: center;
    font-size: smaller;
    text-align: center;
}

.eco-column .advice {
    margin-top: 1rem;
    font-weight: bold;
    color: #d84315;
    text-align: center;
}

.eco-column .tips {
    margin-top: 1rem;
    padding-left: 1.2rem;
}

.eco-column .tips li {
    margin-bottom: 0.4rem;
}

@media (max-width: 1170px) {
    .eco-calc-container {
        grid-template-columns: 1fr 1fr; /* 2 columnas */
    }

    .eco-column:last-child {
        grid-column: 1 / -1;
        justify-items: center;
    }
}

@media (max-width: 850px) {
    .eco-calc-container {
        grid-template-columns: 1fr; /* 1 columna */
    }
}
