.postmodal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* contenedor para dar bordes redondeados a pesar de scroll */
.postmodal-background .modal-wrapper {
    background: white;
    width: 80vw;
    height: 90vh;
    transform: translateY(-20px);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

/* contenedor para el botón de cerrar */
.postmodal-background .modal-wrapper .modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px 10px 0px;
  align-items: center;
}

/* botón para cerrar el modal */
.postmodal-background .modal-wrapper .modal-header .close-btn {
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 4px;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.postmodal-background .modal-wrapper .modal-header .close-btn:hover {
  background-color: rgba(233, 164, 164, 0.5);
}

.postmodal-background .modal-wrapper .modal-content {
    overflow-y: auto;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

/* --------------- */

/* información del post (autor y fecha) */
.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo .post-categories {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo .category-tag {
  background-color: #e6f4ea;
  color: #2a852d;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  white-space: nowrap;
}

.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo .category-tag.uncategorized {
  background-color: #ececec;
  color: #555555;
}

.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo .post-created-by {
  text-align: right;
  color: black;
}

.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo .post-created-by .username,
.postmodal-background .modal-wrapper 
    .replies-list .reply .reply-metainfo .username {
    font-weight: bold;
    color: #2a852d;
}

.postmodal-background .modal-wrapper .modal-content .post-content .post-metainfo .post-created-by a.created-by,
.postmodal-background .modal-wrapper .replies-list .reply .reply-metainfo .username a.created-by {
  all: unset; /* reinicia estilos heredados */
  cursor: pointer;
  font-weight: 600;
  color: #2a852d;
  transition: color 0.3s ease;
}

.postmodal-background .modal-wrapper .modal-content .post-content .post-metainfo .post-created-by a.created-by:hover,
.postmodal-background .modal-wrapper .replies-list .reply .reply-metainfo .username a.created-by:hover {
  color: #236425;
  text-decoration: underline;
}

.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-metainfo .post-created-by .date,
.postmodal-background .modal-wrapper
    .replies-list .reply .reply-metainfo .date {
    color: #2a852d;
}

/* título del post */
.postmodal-background .modal-wrapper .modal-content 
    .post-content .post-content-title {
    margin-top: 0;
    text-align: center;
    color: #2a852d;
}

/* texto del post */
.postmodal-background .modal-wrapper .modal-content
    .post-content .post-content-text {
    white-space: pre-wrap; /* permite saltos de linea */
}

/* botón para abrir el formulario de respuesta al post */
.postmodal-background .modal-wrapper .modal-content
    .post-content .post-reply-btn {
    background-color: #54af57;
    border: 1px solid #43ac47;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

/* formulario de respuesta al post */
.postmodal-background .modal-wrapper .modal-content
    .post-content .reply-form {
    margin-top: 10px;
}

/* input para escribir la respuesta al post */
.postmodal-background .modal-wrapper .modal-content
    .post-content .reply-form textarea,
.postmodal-background .modal-wrapper
    .replies-list .reply .reply-form textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    overflow-y: auto;
}

/* botones del formulario de respuesta al post */
.postmodal-background .modal-wrapper .modal-content
    .post-content .reply-form .reply-form-actions,
.postmodal-background .modal-wrapper
    .replies-list .reply .reply-form .reply-form-actions {
    margin-top: 8px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.postmodal-background .modal-wrapper .modal-content
    .post-content .reply-form .reply-form-actions .submit-post-response-btn,
.postmodal-background .modal-wrapper .replies-list 
    .reply .reply-form-actions .submit-post-response-btn {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.postmodal-background .modal-wrapper .modal-content
    .post-content .reply-form .reply-form-actions .cancel-post-response-btn,
.postmodal-background .modal-wrapper .replies-list 
    .reply .reply-form-actions .cancel-post-response-btn {
    padding: 6px 12px;
    background-color: #ccc;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* --------------- */

/* cabecera de respuestas, incluye filtros */
.postmodal-background .modal-wrapper .modal-content .replies-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.postmodal-background .modal-wrapper .modal-content .replies-header h3 {
    margin: 0;
}

.postmodal-background .modal-wrapper .modal-content .replies-header select {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.postmodal-background .modal-wrapper .modal-content .replies-header select:hover,
.postmodal-background .modal-wrapper .modal-content .replies-header select:focus {
    border-color: #4CAF50;
    outline: none;
}

.postmodal-background .modal-wrapper
    .modal-content .no-replies {
    text-align: center;
    color: #888
}

.postmodal-background .modal-wrapper
    .modal-content .load-replies {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* botón para mostrar las respuestas al post */
.postmodal-background .modal-wrapper
    .modal-content .load-replies button {
    background: none;
    color: #104603;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 5px;
    padding: 0;
}

.postmodal-background .modal-wrapper
    .modal-content .load-replies button:hover {
  color: #388E3C;
}

/* --------------- */

/* lista de respuestas al post */
.postmodal-background .modal-wrapper
    .modal-content .replies-list {
    margin-top: 15px;
}

.replies-list .reply {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/* info de la respuesta (autor y fecha) */
.replies-list .reply .reply-metainfo {    
    font-size: 13px;
    margin: 0;
    padding-right: 10px;
}

/* referencia a otra respuesta, si la tiene */
.replies-list .reply .reply-reference {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* link a la referenncia */
.replies-list .reply .reply-reference button {
    background: none;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    padding: 0;
    font-size: 13px;
}

.replies-list .reply .reply-reference button:hover {
    color: #388E3C;
}

.replies-list .reply .reply-text {
    margin: 10px 0px;
}

.replies-list .reply .comment-reply-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    padding-right: 10px;
}

.comment-reply-container .comment-reply-btn {
    background: none;
    color: #4CAF50;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.comment-reply-container .comment-reply-btn:hover {
    color: #388E3C;
}

.post-content .comment-reply-btn .arrow,
.comment-reply-container .post-reply-btn .arrow {
    margin-right: 4px;
    font-size: 16px;
}

.postmodal-background .modal-wrapper
    .modal-content .load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* botón para cargar más respuestas al post */
.postmodal-background .modal-wrapper
    .modal-content .load-more button {
    background: none;
    color: #104603;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 5px;
    padding: 0;
}

.postmodal-background .modal-wrapper
    .modal-content .load-more button:hover {
  color: #388E3C;
}

/* mensaje cuando no hay más respuestas para cargar */
.postmodal-background .modal-wrapper
    .modal-content .no-more-replies {
    font-size: 14px;
    color: #646464;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

@media (max-width: 1100px) {
    .postmodal-background .modal-wrapper {
        width: 95vw;
        height: 90vh;
    }

    .postmodal-background .modal-wrapper .modal-content {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 632px) {
    .postmodal-background .modal-wrapper {
        width: 97vw;
        height: 93vh;
        transform: translateY(-15px);
    }

    .postmodal-background .modal-wrapper .modal-header {
        padding: 12px 12px 8px 0px;
    }

    .postmodal-background .modal-wrapper .modal-content {
        padding: 16px 12px 30px 12px;
    }

    .postmodal-background .modal-wrapper .modal-content .replies-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .postmodal-background .modal-wrapper 
        .modal-content .replies-header select {
            align-self: flex-end;
    }
}

@media (max-width: 470px) {
    .postmodal-background .modal-wrapper .modal-content 
        .post-content .post-metainfo .post-created-by {
        width: 100%;
        text-align: right;
        margin-top: 6px;
    }

    .postmodal-background .modal-wrapper {
        width: 98vw;
        height: 94vh;
        transform: translateY(-15px);
    }
}
