body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0; /* blanco un poco oscuro */
  margin: 0;
  padding: 0;
}

.forum {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.filters-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.filters-container .order-select, 
.filters-container .category-select {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.order-select label,
.category-select label {
  margin-right: 10px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-right: 10px;
}

.custom-select {
  position: relative;
}

.dropdown-btn {
  width: auto;
  padding: 10px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;  
}

.dropdown-content {
  position: absolute;
  top: 100%;
  width: auto;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 200px;
  display: flex;
  flex-direction: column;  
}

.dropdown.open .dropdown-content {
  display: block;
}

.checkbox-options {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 5px;
  text-align: left;
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
}

.checkbox-options .checkbox-label input {
  margin-right: 10px;
}

.order-select select,
.custom-select button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.order-select select:hover,
.order-select select:focus,
.custom-select button:hover,
.custom-select button:focus {
  border-color: #4CAF50;
  outline: none;
}

.custom-select .ok-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.custom-select .ok-btn:hover {
  background-color: #45a049;
}

.load-more-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.load-more-btn:hover {
  background-color: #45a049;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.posts {
  margin-top: 20px;
}

.post {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.post-header {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.post-header .post-title {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
}

.post-header .post-title svg {
  flex-shrink: 0;
  margin-top: 5px;
}

.post-header .post-title .text-container {
  flex-grow: 1;
  margin-left: 10px;
}

.post-header .post-title .text-container h3 {
  display: inline;
  margin: 0;
  word-wrap: break-word;
  margin-right: 10px;
}

.post-header .post-title .text-container .category {
  display: inline-block;
  font-size: 14px;
  color: #888;
}

.post-header p,
.post-footer p {
  font-size: 14px;
  color: #383838;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post-header .created-container,
.post-header .last-updated-container {
  display: flex;
  align-items: center;
}

.post-header .date-label,
.post-footer .created-by-label {
  font-weight: 600;
}

.post-header .date,
.post-footer .created-by {
  font-weight: normal;
  color: #2a852d;
  margin-left: 5px;
}

.post-header .separator {
  margin-left: 15px;
  margin-right: 15px;
}

.post-footer {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

.replies {
  display: flex;
  align-items: center;
}

.replies .icon {
  margin-right: 8px;
  color: #4CAF50;
  font-size: 22px;
}

.load-more {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-more-posts {
  text-align: center;
  color: #888;
  margin-top: 20px;
  margin-bottom: 20px;
}
