.header-main-container {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscuro transparente */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.logo {
    height: 80px;
}

.header-main-container .upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.upper-container .left-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.upper-container .center-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-container .right-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.bottom-container .page-title {
    font-size: 2em;
    margin-block: 0 0;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    text-align: center;
}

@media (max-width: 340px) {
    .upper-container .left-container {
        padding-left: 20px;
    }

    .upper-container .right-container {
        padding-right: 20px;
    }
}
