.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscuro transparente */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar .nav-links-left,
.navbar .nav-links-right {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 30px;
}

.navbar .nav-links-left {
    left: 30px;
}

.navbar .nav-links-right {
    right: 30px;
}

.navbar-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 2em;
    margin-block: 0 0;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    text-align: center;
}

#logo {
    height: 80px;
}

#home-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#home-button:hover {
    color: #f7a200;
}

.login-button {
    margin: 5px;
}
