.home {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* oscuro transparente */
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
}

.head-container {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .head-container .tools-button-container,
.home .head-container .login-button-container {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 30px;
}

.home .head-container .tools-button-container {
    left: 30px;
}

.home .head-container .login-button-container {
    right: 30px;
}

.home .head-container #logo {
    height: 130px;
}

.home .head-container .tools-button-container #tools-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.home .head-container .tools-button-container #tools-button:hover {
    color: #f7a200; /* naranja */
}

.home .head-container .login-button-container #login-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background-color: #2a6f88; /* azul */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

.home .head-container .login-button-container #login-button:hover {
    color: #f7a200; /* naranja */
    background-color: #1e4f65; /* azul oscuro */
}

/* Contenedor principal */
.main-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
} */

.main-container .main-content {
    position: relative;
    text-align: center;
    z-index: 1;
    padding-top: 40px;
}

.main-container .main-content h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    margin-bottom: 40px;
}

.main-container .main-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.main-container .main-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #b46900; /* naranja oscuro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-container .main-content button:hover {
    background-color: #2a6f88; /* azul */
}